<script>
	import Nav from "../components/nav.svelte";
</script>

<Nav />
<div class="bg-blue-200 h-screen">
	<slot />
</div>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
