<script>
    import { API_URL } from "../stores/constant";
    import UrlCard from "../components/urlsCard.svelte";
    let long_url = "";
    let map_url = "";
    let error = "";
    let short_url = "something";
    const submitForm = async () => {
        try {
            const submit = await fetch(API_URL.PUBLIC_URLS, {
                method: "POST",
                headers: API_URL.HEADERS,
                body: JSON.stringify({
                    long_url,
                    short_url,
                }),
            });
            const data = await submit.json();
            map_url = data;
        } catch (err) {
            console.log(long_url);
            error = err;
        }
    };
</script>

<svelte:head>
    <title>go-url</title>
</svelte:head>
<div class="flex h-screen">
    <div class="w-full  max-w-sm m-auto">
        {#if !map_url && !error}
            <form
                on:submit|preventDefault={submitForm}
                class="bg-white shadow-md rounded px-8 py-6 mb-4"
            >
                <label class="block text-gray-500 text-sm font-bold mb-3" for=""
                    >Long URL</label
                >
                <input
                    class="shadow border border-purple-300 rounded w-full py-2 px-3 text-gray-600 mb-3 leading-tight focus:outline-none focus:shadow-sm"
                    bind:value={long_url}
                    type="text"
                />
                <input
                    class="shadow border border-purple-300 rounded w-full py-2 px-3 text-gray-600 mb-3 leading-tight focus:outline-none focus:shadow-sm hover:bg-blue-300"
                    type="submit"
                />
            </form>
        {:else if map_url && !error}
            <UrlCard {map_url} />
        {:else}
            <p>Error be like {error}</p>
        {/if}
    </div>
</div>
