<script>
	import { API_URL } from "../stores/constant";
	import UserForm from "../components/userForm.svelte";
</script>

<svelte:head>
	<title>register</title>
</svelte:head>
<div class="flex h-screen">
	<div class="w-full  max-w-sm m-auto">
		<UserForm url={API_URL.REGISTER} submitName={"Register"} />
	</div>
</div>
