<svelte:head>
	<title>Sign-in</title>
</svelte:head>
<div class="flex h-screen">
	<div class="w-full max-w-xs m-auto">
		<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="Long URL"> Long URL </label>
				<input
					class="
                shadow
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none focus:shadow-outline
              "
					id="long_url"
					type="text"
					placeholder="URL"
				/>
			</div>
			<div class="mb-6">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="password"> Password </label>
				<input
					class="
                shadow
                appearance-none
                border border-red-500
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                mb-3
                leading-tight
                focus:outline-none focus:shadow-outline
              "
					id="password"
					type="password"
					placeholder="******************"
				/>
				<p class="text-red-500 text-xs italic">Please choose a password.</p>
			</div>
			<div class="flex items-center justify-between">
				<button
					class="
                bg-blue-500
                hover:bg-blue-700
                text-white
                font-bold
                py-2
                px-4
                rounded
                focus:outline-none focus:shadow-outline
              "
					type="button"
				>
					Sign In
				</button>
				<a
					class="
                inline-block
                align-baseline
                font-bold
                text-sm text-blue-500
                hover:text-blue-800
              "
					href="#"
				>
					Forgot Password?
				</a>
			</div>
		</form>
	</div>
</div>
