<script>
    import { goto } from "$app/navigation";
    import { API_URL, loginUser } from "../stores/constant";

    const logout = async () => {
        try {
            const submit = await fetch(API_URL.LOGOUT, {
                method: "POST",
                headers: API_URL.HEADERS,
                credentials: "include",
            });
            await submit.json();
            loginUser.set(0);
            goto("/");
        } catch (err) {
            const error = err;
            console.log(error);
        }
    };
    console.log($loginUser);
</script>

<nav class="bg-blue-300 shadow-lg">
    <div class="container mx-auto">
        <div class="sm:flex justify-around">
            <!-- Site-title  -->
            <div>
                <a href="/" class="text-white text-3xl font-bold p-3">GO-URL</a>
            </div>

            <!-- Menus  -->
            <div>
                <ul
                    class="text-black-400 sm:self-center text-xl border-t sm:border-none"
                >
                    <li class="sm:inline-block">
                        <a href="/urls" class="p-3 hover:text-white"
                            >Public URL</a
                        >
                    </li>
                    <li class="sm:inline-block">
                        <a
                            href={$loginUser === 1 ? "/user" : "/login"}
                            class="p-3 hover:text-white">User URL</a
                        >
                    </li>
                    {#if $loginUser === 0}
                        <li class="sm:inline-block">
                            <a href="/login" class="p-3 hover:text-white"
                                >Login</a
                            >
                        </li>
                        <li class="sm:inline-block">
                            <a href="/register" class="p-3 hover:text-white"
                                >Register</a
                            >
                        </li>
                    {:else if $loginUser === 1}
                        <li class="sm:inline-block">
                            <a
                                href="/"
                                on:click={logout}
                                class="p-3 hover:text-white">logout</a
                            >
                        </li>
                    {/if}
                </ul>
            </div>
        </div>
    </div>
</nav>
