<script>
    export let map_url;
</script>

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-50">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{map_url.short_url}</div>
        <p class="text-gray-700 text-base">
            {map_url.long_url}
        </p>
    </div>
</div>
