<script>
    import { goto } from "$app/navigation";

    import { API_URL, loginUser } from "../stores/constant";

    let username;
    let password;
    export let url;
    export let submitName;
    const submitForm = async () => {
        try {
            const submit = await fetch(url, {
                method: "POST",
                headers: API_URL.HEADERS,
                credentials: "include",
                body: JSON.stringify({
                    username,
                    password,
                }),
            });
            await submit.json();
            if (url === API_URL.LOGIN) {
                loginUser.set(1);
            }

            goto("/");
        } catch (err) {
            console.log(err);
        }
    };
</script>

<form
    on:submit|preventDefault={submitForm}
    class="bg-white shadow-md rounded px-8 py-6 mb-4"
>
    <label class="block text-gray-500 text-sm font-bold mb-3" for=""
        >Username</label
    >
    <input
        class="shadow border border-purple-300 rounded w-full py-2 px-3 text-gray-600 mb-3 leading-tight focus:outline-none focus:shadow-sm"
        bind:value={username}
        type="text"
    />

    <label class="block text-gray-500 text-sm font-bold mb-3" for=""
        >Password</label
    >
    <input
        class="shadow border border-purple-300 rounded w-full py-2 px-3 text-gray-600 mb-3 leading-tight focus:outline-none focus:shadow-sm"
        bind:value={password}
        type="password"
    />
    <input
        class="shadow border border-purple-300 rounded w-full py-2 px-3 text-gray-600 mb-3 leading-tight focus:outline-none focus:shadow-sm hover:bg-blue-300"
        type="submit"
        value={submitName}
    />
</form>
