<script context="module">
    import { API_URL } from "../../stores/constant";
    export const load = async () => {
        const res = await fetch(API_URL.GET_USER_URLS, {
            method: "GET",
            headers: API_URL.HEADERS,
            credentials: "include",
        });
        const urls = await res.json();
        return { props: { urls } };
    };
</script>

<script>
    import UrlCard from "../../components/urlsCard.svelte";
    import { page } from "$app/stores";
    export let urls;
    let map_url = {
        short_url: "Sorry!",
        long_url: "The current account doesn't have any links saved!",
    };
</script>

<svelte:head>
    <title>{$page.params.cser} Saved URLs</title>
</svelte:head>
<br />
{#if urls != null}
    <div class="grid gap-4 md:grid-cols-3">
        {#each urls as map_url}
            <UrlCard {map_url} />
        {/each}
    </div>
{:else}
    <div class="flex flex-auto justify-center h-full items-center">
        <UrlCard {map_url} />
    </div>
{/if}
