<script context="module">
    import { API_URL } from "../../stores/constant";
    export const load = async () => {
        const url = API_URL.PUBLIC_URLS;
        const res = await fetch(url);
        const data = await res.json();
        const urls = data.map((data, index) => {
            return {
                long_url: data.long_url,
                short_url: data.short_url,
                id: index,
            };
        });
        return { props: { urls } };
    };
</script>

<script>
    import UrlCard from "../../components/urlsCard.svelte";
    export let urls;
    let map_url = {
        short_url: "Sorry!",
        long_url: "The current account doesn't have any links saved!",
    };
</script>

<svelte:head>
    <title>go-url public URLs</title>
</svelte:head>
<br />
{#if urls != null}
    <div class="grid gap-4 md:grid-cols-3">
        {#each urls as map_url}
            <UrlCard {map_url} />
        {/each}
    </div>
{:else}
    <div class="flex flex-auto justify-center h-full items-center">
        <UrlCard {map_url} />
    </div>
{/if}
